<form class="justify-content-center align-items-center" style="display: flex; height: 90vh">
    <div>
        <div class="logo-space">
            <img src="./../../../assets/logo/logo.png" class="logo" alt="parkease">
        </div>
        <div class="justify-content-center">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-md-8 px-4 py-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="email" class="form-control" id="login" name="login" [(ngModel)]="usuario.login">
                </div>
                <div class="col-xs-12 col-md-8 px-4 py-3">
                    <label for="senha" class="form-label">Senha</label>
                    <div class="input-group">
                        <input class="form-control" [type]="isPasswordVisible ? 'text' : 'password'" id="senha" name="senha" [(ngModel)]="usuario.senha">
                        <button (click)="togglePasswordVisibility()" class="input-group-text btn btn-outline-primary">
                            <i [ngClass]="{'bi bi-eye-slash-fill': !isPasswordVisible, 'bi bi-eye-fill': isPasswordVisible}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!loginSucess" class="row justify-content-center text-danger">
                {{loginUnsucessMessage}}
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-xs-12 col-md-4 text-center">
                    <button (click)="logar()" class="btn btn-primary" style="width: 100%;">Entrar</button>
                </div>
            </div>
        </div>
    </div>
</form>